.novaTema {
    background-color: #2d35dc;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    min-height: 20%;
    z-index: 1;
    position: fixed;
    box-shadow: 0 0 30px rgba(255, 255, 0, 2);
    color: #ffe600;
}
.novaTema > form {
    display: flex;
    flex-direction: column;
}
.novaTema > form > div{
    margin: 5px;
    height: 50px;
    margin-left: 0px;
}
.novaTema > form > div > *{
    width: 100%;
    height: 50%;
}
#naslov{
    height: 100%;
}
.novaTema > form > button{
    color: #ffe600;
    background-color: #000cf2;
    border: 2px solid #ffe600;
    align-self: flex-end;
    margin-top: 20px;
}
.zatvori{
    align-self: flex-end;
    cursor: pointer; 
    margin-bottom: 10px;
}
.tema {
    background-color: rgba(255, 255, 255, 0.68);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 40vw;
    text-align: start;
    word-wrap: break-word;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.tema > button{
    align-self: flex-end;
}
#zapocni{
    box-shadow: 0 0 30px rgba(255, 255, 0, 2);
    color: #fffb00;
    background-color: #000cf2;
    align-self: flex-start;
    margin-bottom: -5px;   
}
#teme{
    margin-top: 15px;
}
.sveTeme{
    top: 10vh;
    left: 30vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 45vw;
}

#naplavomErr{
    color: #000cf2;
    max-width: 80%;
    word-wrap: break-word;
    align-self: center;
    background-color: #ffee55;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 40vw;
}
.pagination li a {
    cursor: pointer;
    padding: 8px 16px;
    color: #ffe600;
    border: none;
  }
@media only screen and (max-width: 768px) {
    .novaTema {
        width: 60%;
    }

    .tema{
        width: 60vw;
    }

    .sveTeme{
        left: 18vw;
        width: 70vw;
    }
    .pagination {
        width: 60vw;
    }

}